@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
box-sizing: border-box;
text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.tabs {
    top: 365px;
    position: relative;
    left: 150px
}

.tabs > li {
  display: inline-block;
}

.tabs a {
  padding: .5em .75em;

}

.panel {
  display: none;
  position: relative;
  top: 0;
}

.panel:target {
  display: block;
}

.badge {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 3px grey solid;
  background-color: white;
}

.badge:hover {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 3px grey solid;
  background-color: grey;
}
